/*
  The current user's messages should have:
  - a text color of #FFF
  - a background color of #1185f7

  Other participant's messages should have:
  - a text color of #000
  - a background color of #e9e9eb
*/
.chat-stream {
  flex: 1;
  margin: 5vh 2vw;
}
