footer {
  /* 
      These two lines replicate the "blurry white background"
      effect, as seen in iMessage
    */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footerContainer {
  display: flex;
  height: 8vh;
  justify-content: center;
  padding: 10px;
}

.textBox {
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgb(170, 169, 169);
}
.textBox:focus {
  outline: 0px;
  border: 2px solid grey;
}
