header {
  height: 100px;
  background-color: #f9f9f9;
  /* 
      Protip: layering multiple box shadows can create a
      richer shadow effect than just using a single one.
    */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15),
    0px 1px 0.5px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: center;
}

.participant-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  margin: 10px;
}

.participant-image {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.participant-name {
  text-align: center;
  font-weight: 800;
  font-size: 0.8em;
  margin-top: 0;
}
